---
import "../styles/global.css";
const { title = "МЕНЕДЖМЕНТ.PRO" } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="text-base text-ink bg-paper antialiased">
    <slot />
  </body>
</html>
